<div id="dungeon-map">
  <div class="dungeon-body">
    {% for row in userComputed.dungeon.items %}
      <div class="dungeon-row">
        {% for i in range(0, row.length) %}
          {% set isDungeon = userComputed.dungeon.dungeonGrid[loop.parent.index0][loop.index0] == 1 %}
          {% set item = row[i] %}
          
          {% if isDungeon %}
            <div class="dungeon-cell">
              {% if item %}
                <a href="{{ item[1] }}" title="{{ item[2] }}">
                  <img src="/img/{{ item[0] }}.svg" alt="{{ item[2] }}" height="20" />
                </a>
              {% else %}
                <span class="empty-dungeon"></span>
              {% endif %}
            </div>
          {% else %}
            <div class="empty-cell"></div>
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
  
  <div class="dungeon-legends">
    {% for count in userComputed.dungeon.legends %}
      <div class="legend-item">
        <img src="/img/{{ count.icon }}.svg" alt="{{ count.label }}" />
        {{count.count}} {% if count.count > 1 %}{% if count.plural %}{{count.plural}}{% else %}{{count.label}}s{% endif %}{% else %}{{count.label}}{% endif %}
      </div>
    {% endfor %}
  </div>
</div>

