<div id="dungeon-map">
  <div class="dungeon-body">
    {% for row in userComputed.dungeon.gridWithIcons %}
      <div class="dungeon-row">
        {% for cell in row %}
          {% if cell.isDungeon %}
            <div class="dungeon-cell">
              {% if cell.icon %}
                <a href="{{ cell.icon[1] }}" title="{{ cell.icon[2] }}" class="dungeon-icon-link">
                  <img src="/img/{{ cell.icon[0] }}.svg" alt="{{ cell.icon[2] }}" />
                </a>
              {% else %}
                <span class="empty-dungeon"></span>
              {% endif %}
            </div>
          {% else %}
            <div class="empty-cell"></div>
          {% endif %}
        {% endfor %}
      </div>
    {% endfor %}
  </div>
  
  <div class="dungeon-legends">
    {% for legend in userComputed.dungeon.legends %}
      <div class="dungeon-legend">
        <img src="/img/{{ legend.icon }}.svg" alt="{{ legend.icon }}" />
        <span>{{ legend.label }} ({{ legend.count }})</span>
      </div>
    {% endfor %}
  </div>
</div>

